.flex-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

mat-card {
    flex: 1;
    flex-basis: 0;
    margin: 10px;
    word-break: break-all;
}

.break {
    flex-basis: 100%;
    height: 0;
}

mat-form-field {
    width: 100%;
}

.justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.summer {
    background: #a8ff78; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #78ffd6,
        #a8ff78
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.citrus {
    background: #fdc830; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f37335, #fdc830); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f37335,
        #fdc830
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

mat-spinner, mat-slide-toggle {
    width: 100%;
    margin-bottom: 10px;
}

.gradient {
    background: #8e2de2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #4a00e0,
        #8e2de2
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
